        <link rel="stylesheet" href="/css/user_profile.css">
         
        

        <% if(user.id==user_profile.id) {%>

     <div class="update-form">     
<form action="/users/update/<%= user_profile.id %>" enctype="multipart/form-data" method="post">
<input type="text"  name="name" placeholder="your name"   value="<%=user_profile.name %>" required>
<input type="email"  name="email"  placeholder="your name"   value="<%= user_profile.email%>" required>
<input type="file" name="avatar" placeholder="upload file">
<input type="submit"  value="Update">
</form>

</div>  


<div class="user">

<img  class=" pp " src="<%= user.avatar %>" alt="<%= user.name %>" width="100">

<div> 
    <h1><%= user_profile.name %></h1>
    <h2><%= user_profile.email %></h2>
</div>


</div>


            <% } else  {%>
        <p><%= user_profile.name %></p>
        <p><%= user_profile.email %></p>

        

<% }%>